{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>

  
    <!-- <div class="row">
        {% for item in catItem %}
        <div class="col-md-3">
            <div class="card card-product-grid">
                <img src="{{auction.imageLink}}" alt="">
                <figcaption class="info-wrap">
                    <a href="#" class="title">{{ auction.title }}</a>
                    <div class="price mt-1">$ {{ auction.price }}</div> 
                    <p>Details: {{auction.descriptions}}</p>
                </figcaption>
            </div>
        </div> 
        {% endfor %}
    </div>   -->
    
{% endblock %}