{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
        <div class="dropdown m-3">
            <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Select Category
            </button>
            {% if Auctions %}
            <ul class="dropdown-menu">
                {% for cat in category %}
                <li><a class="dropdown-item bg-light" name="category" href="{% url 'cateitem' cat.category_name  %}">{{cat}}</a></li>
                {% endfor %}
                {% else %}
                <div class="m-3"><h4>Auction item is not present</h4></div>
                {% endif %}
            </ul>
           
        </div>

        <div class="row">
            {% for auction in Auctions %}
            <div class="col-md-3">
                <div class="card card-product-grid" style="width: 16rem;">
                    <img src="{{auction.imageLink}}" alt="{{ auction.title }}">
                    <figcaption class="info-wrap">
                        <a href="#" class="title">{{ auction.title }}</a>
                        <div class="price mt-1">$ {{ auction.price }}</div> 
                        <p>Details: {{auction.descriptions}}</p>
                        <div class="d-grid gap-2">
                            <a href="{% url 'listing' auction.id %}" class="btn btn-success btn-lg mx-5">Details</a>
                        </div>
                       
                    </figcaption>
                </div>
            </div> 
            {% endfor %}
        </div>  
{% endblock %}