{% extends "auctions/layout.html" %}

{% block body %}
  <section class="section-content padding-y bg mt-3">
    <div class="container">
        <div class="card">
            <div class="alert alert-info " role="alert">
              {% if messages %}
              <ul class="messages text-center fst-italic">
                  {% for message in messages %}
                  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                  {% endfor %}
              </ul>
              {% endif %}
            </div>
            <div class="row no-gutters">
                  <aside class="col-md-6">
                    <article class="gallery-wrap"> 
                        <div class="img-big-wrap">
                          <img src="{{Auctions.auctionImageLink}}" alt="{{Auctions.auctionTitle}}" height="350px">
                        </div> 
                    </article>
                  </aside>
                <main class="col-md-6 border-left">
                    <article class="content-body">
                        <h2 class="title">Title: {{Auctions.auctionTitle}}</h2>
                        <div>
                          <h5 class="title  d-inline-flex text-muted">Auction Owner:<strong class="mx-2">{{Auctions.auctionOwner}}</strong></h5>
                          <var class="price h5 text-muted mx-2">Starting Bid: ${{Auctions.Price}}</var>
                        </div>
                        <hr>
                          <var class="price h3">Bid Price: ${{newBid.bidPrice}}</var> 
                          <button class="btn btn-outline-primary float-end mx-2" type="button">Top bidder: {{newBid.bidderName}}</button>
                        <hr>
                        <p><strong>Descriptions: </strong> {{Auctions.descriptions}}</p> <hr>

                  {% if user.is_authenticated %}
                      {% if auctionOwner %}
                        <div class="mt-3">
                          <form action="{% url 'closeAuc' id=Auctions.id %}" class="main_form" method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                              {% if Auctions.is_Available %}
                              <div class="input-group-append">
                                <p class="text-warning d-inline-flex"><strong>Do you like to close Auction?</strong> </p>
                                <button class="btn btn-outline-info mx-2" type="submit">Submit</button>
                              </div>
                              {% else %}
                              <div class="input-group-append">
                                <button class="btn btn-success mx-2" type="button">Auction Closed</button>
                              </div>
                              {% endif %}
                            </div>
                          </form>
                        </div>
                      {% else %}
                        <div class="mt-3">
                          <form action="{% url 'Newbid' id=Auctions.id %}" class="main_form" method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                              <input type="number" min="0" class="border border-primary" name="new_bid" placeholder="Place your bid">
                              <div class="input-group-append">
                                <button class="btn btn-outline-info mx-2" type="submit">Submit</button>
                              </div>
                            </div>
                          </form>
                        </div>
                        {% if isWatchListExist %}
                            <a href="{% url 'removelist' id=Auctions.id %}" class="btn  btn-secondary"><span class="text">Remove from Watchlist</span></a>
                        {% else %}
                            <a href="{% url 'addlist' id=Auctions.id %}" class="btn  btn-primary"><span class="text">Add to Watchlist</span></a>
                        {% endif %}
                    {% endif %}
                  {% else %}
                    <h5 class="text-danger">Please login before place your bid</h5>
                  {% endif %}
                    </article> 
                  </main> 
              </div> 
          </div>
          
        <br>
        <div class="row">
          <div class="col-md-9">
            <header class="section-heading">
                <h3>Customer Reviews </h3>  
            </header>
            <article class="box mb-3">
           
              {% for review in reviews %}
                <div class="icontext w-100">
                    <div class="text">
                      <li class="list-group-item ">
                        <h6 class="mb-1 d-inline-flex"><strong>{{review.userName}}</strong></h6>
                        <span class="date text-muted float-end">{{review.commentDate}}</span>
                      </li>
                      <div class="mt-3 bg-light">
                        <p>{{review.message}}</p>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </article>
            {% if user.is_authenticated  %}
                <form action="{% url 'reviews' id=Auctions.id %}" class="main_form" method="POST">
                  {% csrf_token %}
                  <div class="input-group mb-3">
                    <input type="text" class="form-control border border-success" name="comment" placeholder="Comment Box">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary mx-2" type="submit">Post</button>
                    </div>
                  </div>
                </form>
                {% endif %}
          </div> 
          
        </div>  
      </div> 
    </section>
{% endblock %}